
.homeImage{
    display:flex;
}
.imageforhome{
    
    width: 705px;
    height: 600px;
    margin-top: 133px;
    margin-left: 200px;
} 
.textpart{
    
    width:260px;
    height:440px;
    background-color: rgba(224, 219, 219, 0.418);
    margin-top:190px;
    margin-left:50px;
    padding:20px;
    line-height: 40px;
}
p{
    font-size: 20px;
    color:rgb(84, 82, 82)
    
}
.button{
    width:150px;
    padding:10px;
    font-size: 20px;
    background-color: rgb(255, 123, 0);
    margin:15px 0px 0px 50px  ;
}

.specialfood{
    display: flex;
    margin-left: 200px;
}
.specialFood{
    display: flex;
    margin-left: 200px;
}
h2{
    text-align: center;
    margin-top: 30px;
}

.allrecipes{
    display: flex;
    margin-left: 200px;
}
.allRecipes{
    display: flex;
    margin-left: 200px;
}
.TrendingNow{
    display: flex;
    margin-left: 200px;
}
.Trendingnow{
    display: flex;
    margin-left: 200px;
}

.specialRecipe{
    width:300px;
    height: 300px;
    margin-right: 78px;
}
.foodName{
    font-size: 25px;
    line-height: 30px;
}
.line{
    color:rgb(84, 82, 82);
    line-height: 40px;
    font-size: 18px;
}
.star{
    width:25px;
    height: 25px;
    margin-bottom: 30px;
    margin-top: 10px;
}

